<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Auth_</servlet-name>
    <servlet-class>com.Acquired.form.Auth_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth_</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Auth_</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Capture</servlet-name>
    <servlet-class>com.Acquired.form.Capture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Capture</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Capture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Void_deal</servlet-name>
    <servlet-class>com.Acquired.form.Void_deal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Void_deal</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Void_deal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Refund</servlet-name>
    <servlet-class>com.Acquired.form.Refund</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refund</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Refund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Credit</servlet-name>
    <servlet-class>com.Acquired.form.Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_billing</servlet-name>
    <servlet-class>com.Acquired.form.Update_billing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_billing</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Update_billing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rebill</servlet-name>
    <servlet-class>com.Acquired.form.Rebill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rebill</servlet-name>
    <url-pattern>/Acquired-api-sdk-java/Rebill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.Acquired.form.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>